<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARoQlP9RNJ_4xtcwrS5y88iuQ6ONPPSWI</string>
	<key>GCM_SENDER_ID</key>
	<string>828008268000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akane.yamamoto.memo</string>
	<key>PROJECT_ID</key>
	<string>memoapp-7fe06</string>
	<key>STORAGE_BUCKET</key>
	<string>memoapp-7fe06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828008268000:ios:ec34e2e0e77afeebf41085</string>
</dict>
</plist>